<?xml version="1.0" encoding="UTF-8"?>
    <phpunit 
        bootstrap="./src/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailures = "false"
        syntaxCheck = "off"
    >
        <testsuites>
            <testsuite name="Prime Challenge Unit Tests">
                <directory>./tests</directory>
            </testsuite>
        </testsuites>
    </phpunit>